* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-repeat: no-repeat;
    background-size:contain;
    width: 500px;
    height: 700px;
}

.title {
    width: 100%;
    font-family: "Percolator";
    font-size: 0.9em;
    color: #f0e6e1;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cost {
    width: 50px;
    color: #ffcf4f;
    font-size: 1.7em;
    font-family: "Badhouse Bold";
    margin-left: 40px;
    margin-top: -30px;
    text-shadow: 3px 3px black;
}

.version {
    font-family: "Percolator";
    font-size: 1.3em;
    color: #f0e6e1;
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.affiliation {
    font-size: 18px;
    color: #300100;
    display: flex;
    justify-content: center;
    margin-top: 354px;
}

.power {
    font-family: "eurostile";
    font-size: 1.0em;
    position: absolute;
    bottom: 130px;
    left: 35%;
    right: 50%;
    width: 440px;
    height: 100px;
}

.attack {
    color: #ffcf4f;
    font-size: 1.7em;
    font-family: "Badhouse Bold";
    text-shadow: 3px 3px black;
    font-size: 1.7em;
    font-family: "Badhouse Bold";
    position: absolute;
    left: 530px;
    bottom: 60px;
}

.defense {
    color: #6aa1c0;
    font-size: 1.7em;
    font-family: "Badhouse Bold";
    text-shadow: 3px 3px black;
    position: absolute;
    right: 530px;
    bottom: 60px;
}

.flight {
    position: absolute;
    bottom: 75px;
    margin-left: 80px;
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    background-size: contain;
}

.range {
    position: absolute;
    bottom: 45px;
    margin-left: 80px;
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

.search {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 50px;
}

.search-box {
    outline: none;
    font-family: "Percolator";
    font-size: 2em;
    color: #f0e6e1;
    width: 400px;
    height: 50px;
    margin-top: 5px;
    display: flex;
    background-color: #7e0700;
    border: 5px solid rgb(58, 58, 58);
    border-radius: 50px;
    text-align: center;

}

@font-face {
    font-family: 'Badhouse Bold';
    src: url('/fonts/badhousebold.ttf');
}

@font-face {
    font-family: 'eurostile';
    src: url('/fonts/eurostile.woff');
}